@model ArmyManagementSystem.Models.LeaveRequest

@{
    ViewData["Title"] = "Delete";
}

<div class="mt-3">
    <h1>Διαγραφή άδειας</h1>
</div>
<div class="mt-3">
    <h3 class="text-danger">Σίγουρα θέλετε να διαγράψετε αυτή την άδεια;</h3>
    <h5 class="text-secondary">Αυτή η ενέργεια δεν μπορεί να αναιρεθεί.</h5>
</div>
<div>    
    <hr />
    <dl class="row">   
        <dt class="col-sm-2">
            Ονοματεπώνυμο:
        </dt>
        <dd class="col-sm-10">
            @Model.StaffMember.Name @Model.StaffMember.Surname
        </dd>
        <dt class = "col-sm-2">
            Είδος άδειας:
        </dt>
        <dd class = "col-sm-10">
            @Model.LeaveType
        </dd>
        <dt class="col-sm-2">
            Αριθμός ημερών:
        </dt>
        <dd class="col-sm-10">
            @Model.LeaveDays
        </dd>
        <dt class = "col-sm-2">
            Ημερ. αναχώρησης:
        </dt>
        <dd class = "col-sm-10">
            @Model.StartDate.ToString("dd-MM-yyyy")
        </dd>
        <dt class = "col-sm-2">
            Ημερ. επιστροφής:
        </dt>
        <dd class = "col-sm-10">
            @Model.EndDate.ToString("dd-MM-yyyy")
        </dd>
        <dt class = "col-sm-2">
            Τόπος:
        </dt>
        <dd class = "col-sm-10">
            @Model.Location
        </dd>
    </dl>    
    <form asp-action="Delete" asp-route-staffMemberId="@Model.StaffMemberId">
        <input type="hidden" asp-for="LeaveRequestId" />
        <input type="submit" value="Διαγραφή" class="btn btn-danger" />
        <a asp-controller="LeaveRequests" asp-action="ByStaffMember" asp-route-staffMemberId="@Model.StaffMemberId" class="btn btn-secondary">Πίσω</a>
    </form>
</div>
